body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background-color: #f7f9fc;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:	#D3D3D3
}
  
h1, h2 {
  color: #2c3e50;
  margin-bottom: 1rem;
  color: #2c3e50;
}
  
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}
  
input, button {
  padding: 0.5rem;
  font-size: 1rem;
}
  
button {
  background-color: #0c7dee;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
  button:hover {
    background-color: #34495e;}

#donation-table{
  width: 100%;
	border-collapse: collapse;
	margin-top: 1.25rem;
}

#donation-table th,
#donation-table td {
	border: 1px solid #ddd;
	padding: 0.75rem;
	text-align: left;
}
button:hover {
  background-color: #085093;}

#companyRole {
  font-size: x-large;
  text-align: center;
}

textarea {
  font-size: x-large;
  text-align: center;
  max-height: fit-content;
}

#repEmail {
  font-size: x-large;
  text-align: center;
  max-height: fit-content;
}

.error-message {
  color: red;
  font-size: x-large;
  text-align: center;
}

table {
  background-color: white;
  width: 100%;
  max-width: 800px;
  margin-top: 1.5rem;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
  border: 3px solid #b8b8b8;
  padding: .35rem;
  text-align: center;
}

table th {
  background-color: #2c3e50;
  color: #f7f9fc;
  font-weight: bold;
}

table tr:hover {
  background-color: #bbc1ca;
}

button.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
}

button.delete-button:hover {
  background-color: #c0392b;
}

#role-summary {
  width: 100%;
  max-width: 600px;
  margin-top: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#role-summary h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

#summary-list li {
  font-size: .9rem;
}
