name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  lint:
    name: Run Linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Super-Linter
      - name: Run Super-Linter
        uses: github/super-linter@v6
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_PYTHON: true
          VALIDATE_TYPESCRIPT: true
          VALIDATE_JAVA: true
        continue-on-error: true


      # Upload Super-Linter results
      - name: Upload Super-Linter Results
        uses: actions/upload-artifact@v4
        with:
          name: super-linter-results
          path: /linter/linter-report
